
/* .searchbar input{
    width: 70%;
     height: 30px;
     border-radius: 5px;
     border: 1px solid #ccc;
     padding: 5px;
     font-size: 16px;
 }

 .searchbar button{
    width: 30%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
    background-color: #ccc;
    cursor: pointer;
} */